<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Find My cOOp{% endblock %}</title>
        {% block stylesheet %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% endblock %}
    </head>
    <body>
        <header class="text-center"> 
            {% if is_granted("ROLE_MEMBRES")%}
                <a href="{{path('carnetdebord')}}">{{app.user.pseudo}}</a>
            {% endif %}
            <img src="{{ asset('image/logo.png') }}"/>
        </header>
        {% block nav %}
            <div class="container-fluid">
                <div class="row">
                    <nav class="navbar navbar-inverse">
                        <ul class="nav text-center">
                            <li class="col-lg-3"><a href="{{path('home')}}">Accueil</a></li>
                            <li class="col-lg-3"><a href="{{path('projets')}}">Projets</a></li>
                            <li class="col-lg-3"><a href="{{path('membres')}}">Membres</a></li>
                            <li class="col-lg-3"><a href="{{path('bar')}}">Bar</a></li>
                                {#<li><a href="{{path('forum')}}">forum</a></li>
                                <li><a href="{{path('details')}}">details</a></li>
                                <li><a href="{{path('carnetdebord')}}">CDB</a></li>#}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endblock %}
        <div class="container">
            {% block body %}
                <section>
                    <div class="col-lg-8 section">
                        <h2 class="text-center">Presentation</h2>
                        {% for presentation in description %}
                            <p>{{presentation.description}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-lg-8 text-center nous">
                        <a class="" href="{{path('contact')}}">Contactez nous</a>
                    </div>
                </section>
            {% endblock %}
            {% block activités %}
                <section class="evenements">
                    <div>
                        <div class="col-lg-offset-8 col-lg-3 ">
                            {% if is_granted("ROLE_MEMBRES")%}
                                <a class="col-lg-offset-10" href="{{path('loginOut')}}">logout</a>
                            {% else %}
                                <a class="col-lg-offset-10" href="{{path('login')}}">login</a>
                            {% endif %}
                            <h2 class="text-center ">Activités</h2>
                            {% if is_granted("ROLE_MEMBRES")%}
                               <ul class="trio">
                                <li id="projet">Mes projets</li>
                                <li id="message">Mes messages</li>
                                <li id="profil">Mon profil</li>
                            </ul>
                            {% endif %}
                            {% for activity in activities %}
                                <div class="section">
                                    <p>{{activity.datetime}}</p>
                                    <h4 class="text-center">{{activity.title}}</h4>
                                    <p class="text-justify">{{activity.description}}</p>
                                    <a class="col-lg-offset-9 col-lg-3" href='{{path('forum',{'id':activity.id })}}'>détails</a>
                                </div>
                            {% endfor %} 
                            <a class="col-lg-offset-6 text-center" href="" >&Congruent;</a>
                        </div>
                    </div>
                </section>
            {% endblock %}
        </div>
        <footer class="text-center">
            <p>&COPY;Copyright by <a href="http://fabrique-beweb.com/"/> BeWeb.</p>
        </footer>
        <script src="{{asset('scripts/jQuery.js')}}"></script>
        <script src="{{asset('../vendor/twbs/bootstrap/dist/js/bootstrap.js')}}"></script>
        <script src="{{asset('scripts/main.js')}}"></script>
    </body>
</html>
