<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Find My cOOp !{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <header>
        <h1>Find My cOOp !</h1>
    </header>
    {% block nav %}
        <nav>
            <ul class="navbar">
                <li><a href="{{path('home')}}">Accueil</a></li>
                <li><a href="{{path('projets')}}">Projets</a></li>
                <li><a href="{{path('membres')}}">Membres</a></li>
                <li><a href="{{path('bar')}}">Bar</a></li>
            </ul>
        </nav>
    {% endblock %}
    <section>
        {% block body %}
            ICI le BLOCK BODY
        {% endblock %}
    </section>
    {% block activités %}
        <section class="evenements">
            <h3>Activités</h3>
            <div>
                <p>01/01/2017</p>
                <h4>Repas du nouvel an.</h4>
                <p>J'invite qui veux a venir partager le premier repas de l'année chez ma voisine.</p>
                <a href=''>détails</a>
            </div>
            <div>
                <p>24/12/2016</p>
                <h4>Reveillon de Noël</h4>
                <p>Reveillon de Noël chez le père noël. (prevoir verre de lait et cookies)</p>
                <a href="">détails</a>
            </div>
        </section>
    {% endblock %}
    <footer class="text-center">
        <p>&COPY;Copyright by BeWeb.</p>
    </footer>
</body>
</html>