<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Find My cOOp{% endblock %}</title>
        {% block stylesheet %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('./vendor/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('./vendor/v-accordion.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            <script src="{{asset('scripts/angular.min.js')}}"></script>
            <script src="{{asset("//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-animate.js")}}"></script>
            <script src="{{asset('scripts/v-accordion.min.js')}}"></script>
            <script src="{{asset('scripts/projects.js')}}"></script>

            {#            <script src="{{asset('scripts/x-tag-core.min.js')}}"></script>
                        <script src="{{asset('scripts/primeui.min.js')}}"></script>
                        <script src="{{asset('scripts/primeelements.js')}}"></script>
                        <link rel="stylesheet" href="{{ asset('./vendor/bootstrap.css') }}" />
                        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
                        <script src="{{asset('scripts/projects.js')}}"></script>
                        <script src="{{asset('scripts/bootstrap.js')}}"></script>
                        <script src="{{asset('scripts/main.js')}}"></script>#}
        {% endblock %}
    </head>
    <body>
        <header> 
            <div class="text-center">
                <img src="{{ asset('image/logo.png') }}"/>
            </div>
        </header>
        {% block nav %}
            <div class="container-fluid">
                <div class="row">
                    <nav class="navbar navbar-inverse">
                        <ul class="nav text-center">
                            <li class="col-lg-3"><a href="{{path('home')}}">Accueil</a></li>
                            <li class="col-lg-3"><a href="{{path('projets')}}">Projets</a></li>
                            <li class="col-lg-3"><a href="{{path('membres')}}">Membres</a></li>
                                {#                            <li class="col-lg-3"><a href="{{path('bar')}}">Bar</a></li>#}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endblock %}
        <div class="container">
            {% block body %}
                <section>
                    <div class="col-lg-8 section ">
                        <h2 class="text-center">Presentation</h2>
                        {#                        {% for presentation in description %}
                                                    <p>{{presentation.description}}</p>
                                                {% endfor %}#}
                    </div>

                </section>
            {% endblock %}
            {% if is_granted("ROLE_MEMBRES")%}
            {% block contactez_nous %}{% endblock %}
        {% else %}
            <div class="col-lg-8 text-center nous">
                {#                <a  href="{{path('contact')}}">Contactez nous</a>#}
            </div>
        {% endif %}
        {% block activités %}
            <section class="evenements container">
                <div>
                    <div class="col-lg-offset-9 col-lg-3 ">
                        {% if is_granted("ROLE_MEMBRES")%}
                            <a class="col-lg-offset-10" href="{{path('loginOut')}}">logout</a>
                        {% else %}
                            <a class="col-lg-offset-10" href="{{path('login')}}">login</a>
                        {% endif %}
                        <h2 class="text-center ">Activités</h2>
                        {% if is_granted("ROLE_MEMBRES")%}
                            <ul class="trio">
                                <li id="projet">Mes projets</li>
                                <li id="message">Mes messages</li>
                                <li id="profil">Mon profil</li>
                            </ul>
                        {% endif %}
                        <a class="col-lg-offset-6 text-center" href=""/><img class="text-center hide" src="{{asset('image/up.png')}}"/></a>
                        {#                        {% for activity in activities %}
                                                    <div class="postit">
                                                        <p>{{activity.datetime|date('d/m/Y')}}</p>
                                                        <h4 class="text-center">{{activity.title}}</h4>
                                                        <p class="text-justify">{{activity.description}}</p>
                                                        <a class="col-lg-offset-9 col-lg-3" href='{{path('forum',{'id':activity.id })}}'>détails</a>
                                                    </div>
                                                {% endfor %} #}
                        <a class="col-lg-offset-6 text-center" href=""/><img class="text-center" src="{{asset('image/down.png')}}"/></a>
                    </div>
                </div>
            </section>
        {% endblock %}
    </div>


            <script src="{{asset('scripts/jQuery.js')}}"></script>
            <script src="{{asset('scripts/main.js')}}"></script>
            <script src="{{asset('scripts/bootstrap.js')}}"></script>
    <footer class="text-center">
        <p>&COPY;Copyright by <a href="http://fabrique-beweb.com/"/> BeWeb.</p>
    </footer>

</body>
</html>
