{% extends ':site:home.html.twig' %}
{% block body %}
    <div class="col-lg-7 section carnet">
        <div class="bell">
            <img class="bells" src="{{ asset('image/bell2.png') }}"/>
        </div>
        <div class="h2">
            <h2 class="text-center">Carnet de bord</h2>
        </div>
        <section id="projet">
            dsqsqdsqd
            {#            {% for post in posts %}
                            <div class="last">
                                <h3>{{post.title}}</h3>
                                <h4 class="text-center">Last activités</h4>
                                <p class="text-justify">{{post.description}}</p>
                                <a href="{{path('forum',{'id':post.id })}}"><button class="col-lg-offset-9 col-lg-3">Details</button></a>
                            </div>
                        {% endfor %}#}
        </section>
        <section id="message">
        </section>
        <section id="profil">
            <div>
                <h4>Profil:</h4>
                <div id="editProfil" class="col-lg-6 profil">
{#                    {{form_start(edit_form)}}
                    <input type="submit" class="btn btn-info btn-sm text-position col-md-offset-0 col-md-1 colorbouttton pull-right"value="Edit" />
                    {{form_end(edit_form)}}#}
                    <input class="col-lg-9"placeholder="Nom"/>
                    <input class="col-lg-9"placeholder="Prenom"/>
                    <input class="col-lg-9"placeholder="Pseudo"/>
                    <a class="col-lg-9" href="">changer le mot de passe</a>
                    <input class="col-lg-12"placeholder="Adresse"/>
                    <input class="col-lg-9"placeholder="Ville"/>
                    <input class="col-lg-9"placeholder="Code Postal"/>
                    <div class="ijk col-lg-9">
                        <a href="">URL site</a>
                        <input class="droite" type="submit" value="edit"/>
                    </div>
                </div>
                <img class="profil-img col-lg-4"atl="fk_image" src="{{ asset('image/avatar.png') }}"/>
                <input class="col-lg-offset-10 col-lg-2" type="submit" value="Actualiser"/>
            </div>
            <div class="col-lg-12 cdbprojet">
                <h4>Projets:</h4>
                <div class="col-lg-12 projet">
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quitte</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quitte</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quitte</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quitte</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quitte</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quitte</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                    <div>
                        <p class="col-lg-6" >bla bla bla bla bla</p>
                        <a class="col-lg-offset-1 col-lg-1">edit</a> 
                        <a class="col-lg-offset-1 col-lg-1">quitte</a>
                        <p class="col-lg-offset-1 col-lg-1">boss</p>
                    </div>
                </div>
                <div>
                    <button class="xyz col-lg-offset-11">Nouveau</button>
                </div>
            </div>

        </section>
    </div>
{% endblock %}